*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-weight: 300;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
.full{
    display: flex;
}
aside{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.left-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.aside img{
    width: 45px;
}
.aside p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3px;
    font-weight: bolder;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}
.centernav{
    display: flex;
}
.searchbar{
    margin-top: 3px;
    display: flex;
    height: 48px;
}
.searchbar input{
    min-width: 600px;
    padding: 3px 5px;
    border: 1px solid rgb(145, 143, 143);
}
.searchbar button{
    border: 1px solid rgb(145, 143, 143);
    padding: 2px 4px;
}
.mike{
    margin-left: 12px;
    padding: 10px;
    display: grid;
    place-items:center;
}
.side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.tags{
    border-top: 1px solid rgb(145, 143, 143);
    display: flex;
    padding: 5px 8px;
    gap:5px
}
.dark{
    font-size: 17px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 15px;
}
.light{
    font-size: 17px;
    color: rgb(14, 13, 13);
    background-color: rgb(179, 175, 175);
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 15px;
}
.bar{
    margin-top: 20px;
}
.mid{
    width: 100%;
}
